$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;
// * effects everything

// like a function
@mixin easeOut {
	transition: all 1.0s ease-out;
}

@mixin background {
	@if $show-home-image {
		&#bg-img {
			background: $home-image;
			background-attachment: fixed;
			background-size: cover;

			// pseudo element,
			// html treats like actual element
			// after bg-img element
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				// rgba allows color, but
				// we can see through it
				background: rgba($primary-color, $background-opacity);
			}
		}
	}
}

// Set Text Color
@function set-text-color($color) {
	@if (lightness($color) > 40) {
		@return #000;
	} @else {
		@return #ffffff;
	}
}

// Media Query Mixins
@mixin mediaSm {
	@media screen and (max-width: 500px) {
		// Any css that we put in here
		// will apply for screens that
		// 500px max or less
		@content;
	}
}

@mixin mediaMd {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin mediaLg {
	@media screen and (min-width: 769px) and (max-width: 1170px) {
		@content;
	}
}

@mixin mediaXl {
	@media screen and (min-width: 1171px) {
		@content;
	}
}
